# Auto detect text files and perform LF normalization
* text=auto
#integer 
a=5
print(a)

#float
b=9.8
print(b)

#string
c="DYP"
print(c)

#tuple
f=(1,3,5,7)
print(f)

#list
d=[1,2,3,4]
print(d)

#boolean
print(b<a)
print(a>b)
print(a==b)
print(a!=b)

#dictionary
student_marks={"rehan":85,"vikas":90,"ram":78}
print(student_marks["ram"])
print(student_marks["vikas"])
print(student_marks["rehan"])

#set
h=set([1,2,3,4])
print(h)
